/* Body Style */

body {	margin: 0;
       	padding: 0;	
	background-image: url("background.jpg");
	background-position: fixed;
}

/*Logo Style */

.logo {
	margin: auto;
	width: auto;}

/* Navbar Style */

.nav { 
	width: 91%;
	float: right;
	border: 0.1px solid darkgrey;
}

ul {
	background-color: white;
	padding: 0;
	list-style: none;
	overflow: hidden;
	margin: 0;
	
}

li a { 
	display: block;
	color: black;
	float: left;
	width: 20%;
	padding: 40px 0;
	text-align: center;
	text-decoration: none;
}

li a:hover {
	background-color : pink}

.ban { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 0.1px solid darkgrey;
 }

 .part1  {
 
 	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	border: 0.1px solid darkgrey;
	width: 50%;
	padding: 20px;
}

#champ1 {
       	background-color: lightpink;
	padding: 10px;
	margin: 20px 0px;
}


#nom {
	background-color:white;
	color: black;
	width: 250px;
	height: 20px;
	margin: 3px 0px;
}

#prenom {
	background-color: white;
	color: black;
	width: 250px;
	height: 20px;
	margin: 3px 0px;

}
#message {
	background-color: white;
	color: black;
	width: 250px;
	height: 20px;
	margin: 3px 0px;
}

.footer {
	display: block;
	background-color: white;
	border: 0.1px solid darkgrey;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2%;
	padding: 0px
}

.license {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

a {
       	color: black;
	text-decoration: none;
}
